@font-face {
    font-family: 'GenJyuuGothic';
    src: url('/wakeup/assets/font/GenJyuuGothic-Regular.woff');
}

body {
    font-family: 'GenJyuuGothic';
}

nav {
    height: 10vh;
    width: 100vw;
    background-color: #9AD5E3;
    margin: 0px;
    padding: 0px;
}

nav h1 {
    height: 100%;
    width: 100%;
    color: #333;
    font-size: xx-large;
    text-align: center;
    margin: auto 0 auto 0;
    display: block
}

.maxWidth {
    position: relative;
    width: 100%;
    padding: 10px 0 10px 0;
    padding-top: 5vh;
    width: 75vw;
    margin: 0 auto 0 auto;
}

.child {
    margin: 2vh 2vw;
}

input {
    font-family: 'GenJyuuGothic';
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: larger;
    margin: 1px;
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #2f3542;
    color: #333;
}

#submit {
    background-color: #9AD5E3;
    border: 0ch;
}

#result {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: -webkit-xxx-large;
    margin: 1px;
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 2px;
    padding-top: 8vh;
    font-weight: bold;
}