<!DOCTYPE html>
<html lang="zh-tw" style="width:100vw">

<head>
    <title>好盒器 LineBot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>   
    <meta name="apple-mobile-web-app-capable" content="yes" />   
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico"/>
    <link rel="stylesheet" href="/assets/css/style_2.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/Javascript" src="/assets/script/script_4.js"></script>
    <script type="text/Javascript" src="/assets/script/socket_3.js"></script>
</head>

<body>