<!DOCTYPE html>
<html lang="zh-tw" style="width:100vw">

<head>
    <title>好盒器 LineBot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" type="image/png" href="/wakeup/assets/favicon.ico" />
    <link rel="stylesheet" href="/wakeup/assets/css/normalize.css" />
    <link rel="stylesheet" href="/wakeup/assets/css/main.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="header">
        <h1>代碼生成器</h1>
    </div>
    <!-- <div class="header-line"></div> -->
    <div class="body maxWidth">
        <div class="body-padding-top"></div>
        <div class="child">
            <input id='amount' type="text" placeholder="輸入使用者的使用量" pattern="\d*" />
        </div>
        <div class="child">
            <input id='submit' type='submit' value="取得代碼" onclick='submit()' />
        </div>
        <div class="child">
            <p id="result"></p>
        </div>
    </div>
    <div class="footer">
        <div class="tool">
            <ul>
                <li>
                    <a href="/wakeup/manager/index">代碼產生</a>
                </li>
                <li>
                    <a href="/wakeup/manager/tickets">抽獎券名單</a>
                </li>
                <li>
                    <a href="/wakeup/manager/apply">得獎編號輸入</a>
                </li>
                <li>
                    <a href="/wakeup/manager/winner">得獎名單</a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        function submit() {
            var amount = $("#amount").val()
            if (amount) {
                $.post("/wakeup/manager/generateToken", {
                    amount: $("#amount").val()
                }).done(function(data) {
                    $("#result").text(data);
                }).fail(function() {
                    $("#result").text("網路異常");
                });
            } else {
                $("#result").text("請輸入數量");
            }
        }

        $(document).ready(function() {
            var mobileSafari = (/iPhone/i.test(navigator.platform) || /iPod/i.test(navigator.platform) ||
                /iPad/i.test(navigator.userAgent)) && !!navigator.appVersion.match(
                /(?:Version\/)([\w\._]+)/);
            if (mobileSafari) {
                $("#result").css("margin", "3vh 0");
                $(".tool").css("padding-top", "1vh");
                $(".footer").css("height", "10vh");
            }
        });
    </script>
</body>

</html>