<!DOCTYPE html>
<html lang="zh-tw" style="width:100vw">

<head>
    <title>好盒器 LineBot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" type="image/png" href="/wakeup/assets/favicon.ico" />
    <link rel="stylesheet" href="/wakeup/assets/css/main.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="maxWidth">
        <div class="child">
            <input id='amount' type="text" placeholder="輸入使用者的使用量" pattern="\d*" />
        </div>
        <div class="child">
            <input id='submit' type='submit' value="取得代碼" onclick='submit()' />
        </div>
        <div class="child">
            <p id="result"></p>
        </div>
    </div>

    <script>
        function submit() {
            var amount = $("#amount").val()
            if (amount) {
                $.post("/wakeup/manager/generateToken", {
                    amount: $("#amount").val()
                }).done(function(data) {
                    $("#result").text(data);
                }).fail(function() {
                    $("#result").text("網路異常");
                });
            } else {
                $("#result").text("請輸入數量");
            }
        }
    </script>
</body>

</html>